@import 'nes.css/css/nes.min.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #212529;
  color: white;
  margin: 0; /* Wichtig, um weiße Ränder zu vermeiden */
}